.navigation {
	position: relative;
	top: 3rem;
	color: var(--color-text);
	z-index: 1000;
}

.nav-container {
	list-style: none;
	font-size: 1.45rem;
	font-weight: 500;
	width: 100%;

	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr repeat(3, max-content) 1fr;
	column-gap: 4rem;

	.nav-logo {
		justify-self: start;
		font-size: 1.6rem;
		font-weight: 600;
		padding-left: 2rem;
	}

	.nav-link {
		cursor: pointer;
		transition: all 0.2s;
	}

	.nav-link:hover {
		color: var(--color-black);
	}

	.nav-item--right {
		justify-self: end;
		padding-right: 3rem;
	}
}

// SMALL
.navigation--small {
	position: relative;
	top: 3rem;
	color: var(--color-text);
}

.nav-container--small {
	list-style: none;
	font-size: 1.45rem;
	font-weight: 500;
	background-color: var(--color-white);
	border-radius: 1.1rem;
	padding: 2rem;
	padding-bottom: 4rem;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	width: 40vw;
	position: absolute;
	z-index: 1000;
	right: 3rem;
	top: 0;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, max-content);
	justify-items: center;
	align-items: center;
	row-gap: 3rem;

	.nav-link {
		cursor: pointer;
		font-size: 2rem;
		transition: all 0.2s;
	}

	.nav-link:hover {
		color: var(--color-black);
	}

	.nav-item--right {
		justify-self: center;
		align-self: start;
		padding: 0;
	}
}

.nav-logo--small {
	justify-self: start;
	font-size: 1.8rem;
	font-weight: 600;
	padding-left: 2rem;
}

.nav-open-menu {
	width: 4rem;
	height: 4rem;
	margin-right: 3rem;
	stroke: var(--color-text);
	cursor: pointer;

	justify-self: end;
}

.nav-close-menu {
	width: 4rem;
	height: 4rem;
	fill: var(--color-text);
	cursor: pointer;

	justify-self: end;
}

@media only screen and (max-width: 450px) {
	.nav-container--small {
		width: 65vw;
	}
}
